
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #0f0f0f, #1d1d1d, #111111);
  font-family: "Poppins", sans-serif;
  background-size: cover;
}

.center-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 18px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.25);
  color: white;
  box-shadow: 0px 10px 35px rgba(0,0,0,0.5);
}

h2, h3 {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.btn-primary {
  background: linear-gradient(90deg, #6a00ff, #b300ff);
  border: none;
  padding: 12px;
  font-size: 1.2rem;
  border-radius: 30px;
  color: white;
  box-shadow: 0px 0px 12px #a000ff;
  transition: 0.3s;
}

.btn-primary:hover {
  transform: scale(1.06);
  box-shadow: 0px 0px 20px #d200ff;
}


.form-control {
  background: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.25);
  color: white;
}


.text-danger {
  color: #ff6b6b !important;
}

#passwordStrength {
  color: #00ff9d;
}
